<!DOCTYPE html>
<html lang="en">
<body>

<app-header mode="admin"></app-header>

<div class="admin-visual-example-topics">
  <h2>Manage Visual Examples by Topic</h2>
  <table class="topics-table">
    <thead>
    <tr>
      <th>Topic Title</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let topic of topics">
      <td>{{ topic.topicTitle }}</td>
      <td>
        <button (click)="manageVisualExamples(topic)">Manage Visual Examples</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<footer class="footer">
  © 2024 Copyright OOP Vision. All Rights Reserved
</footer>
</body>
</html>
