<div class="registration-container">
  <div class="form-container">
    <div class="content">

      <!-- Left Section -->
      <div class="left-section">
        <img src="assets/LogoSymbol.png" alt="Logo" class="logo" />
        <img src="assets/LogoText.png" alt="LogoText" class="logoText" />
        <p>Bringing OOP to Life, One Visual at a Time.</p>
      </div>

      <div class="right-section">
    <h2>Create an account</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="First Name" />
        <mat-error *ngIf="registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched">
          First Name is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Last Name" />
        <mat-error *ngIf="registrationForm.get('lastName')?.invalid && registrationForm.get('lastName')?.touched">
          Last Name is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email" />
        <mat-error *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
          Enter a valid email.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Password" />
        <mat-error *ngIf="registrationForm.get('password')?.hasError('required') && registrationForm.get('password')?.touched">
          Password is required.
        </mat-error>

        <mat-card class="error-card" *ngIf="registrationForm.get('password')?.hasError('pattern')">
          <mat-card-content>
          Password must be at least 12 characters and include
          <ul>
            <li>one uppercase letter</li>
            <li>one lowercase letter</li>
            <li>one number</li>
            <li>one special character (&#64;$!%*?&)</li>
          </ul>
          </mat-card-content>
        </mat-card>

      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm password" />
        <mat-error *ngIf="registrationForm.hasError('passwordMismatch')">
          Passwords do not match.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid">Sign up</button>
    </form>
    <p>Already have an account? <a routerLink="/login">Log in</a></p>
      </div>
    </div>
  </div>
</div>
