// General Variables
$primary-color: #fbc02d;
$secondary-color: #B6E3FF;
$text-color: #333;

.registration-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;

  .content {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    width: 100%;
    height: auto;
    overflow: hidden;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .left-section,
  .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  .left-section {

    .logo {
      height: 250px;
      width: 250px;
    }

    .logoText {
      height: 80px;
      width: 300px;
    }

    p {
      font-size: 16px;
      font-weight: bold;
      color: #757575;
      margin-top: 10px;
      text-align: center;
    }
  }

  .right-section {

    h2 {
      margin-bottom: 16px;
    }

    mat-form-field {
      margin-bottom: 10px;
      width: 100%;
    }

    button {
      width: 100%;
      background-color: $primary-color;
      color: #fff;
      padding: 0.75rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        background-color: darken($primary-color, 10%);
      }

      &:disabled {
        background-color: lighten($primary-color, 30%);
        cursor: not-allowed;
      }
    }

    p {
      text-align: center;
      margin-top: 20px;

      a {
        color: $primary-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .error-card {
      background: #fff;
      border-left: 4px solid #f44336;
      margin-top: 5px;
    }
    .error-card mat-card-content {
      padding: 8px;
      font-size: small;
    }
  }
}
