// General Variables
$primary-color: #fbc02d;
$secondary-color: #B6E3FF;
$text-color: #333;
$button-color: #757575;

h2 {
  font-family: 'Arial', sans-serif;
  margin: 1rem;
  color: #333;
}

button {
  background-color: $primary-color;
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #FFDD8B;
  }
}
mat-horizontal-stepper {
  margin: 1rem 0;
}

.question-block {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
}

.step-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
