<!DOCTYPE html>
<html lang="en">

<body>

<app-header mode="public"></app-header>


<div class="login-container">
  <img class="logoSymbol" src="assets/LogoSymbol.png" alt="ulSingles_symbol">
  <h3>Log In</h3>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm" novalidate>
    <div class="form-container">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" type="email" name="email" required [(ngModel)]="loginData.email" #email="ngModel" autocomplete="email">
        <mat-error *ngIf="email.invalid && email.touched">Email is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" required [(ngModel)]="loginData.password" #password="ngModel" autocomplete="password">
        <mat-error *ngIf="password.invalid && password.touched">Password is required</mat-error>
      </mat-form-field>

      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Log in</button>
    </div>

    <!-- Link to Registration page -->
    <p>Don't have an account? <a routerLink="/registration">Register here</a></p>
  </form>
</div>

<app-footer></app-footer>

</body>

</html>
