<!DOCTYPE html>
<html lang="en">

<body>

<app-header mode="user"></app-header>

<div class="home-container">
  <div class="content">
    <div class="left-section">
        <img
          src="assets/homeImage.png"
          alt="HomeImage"
        class="HomeImage"/>
    </div>

      <div class="right-section">
        <h1>OOP Vision</h1>
        <p>
          Welcome to OOP Vision – your interactive gateway to mastering Java OOP!
          Discover step-by-step visualisations and engaging quizzes that bring object-oriented programming concepts to life. Whether you're a beginner or looking to solidify your understanding of classes, objects, inheritance, and more, our platform transforms complex ideas into a visually intuitive learning experience. Start exploring and experience the future of programming education today!
        </p>
      </div>
</div>
</div>
<p class="phrase">Bringing OOP to Life, One Visual at a Time.</p>
<app-footer></app-footer>
</body>
</html>
