<div class="visual-example-form">
  <h2>{{ visualExampleId ? 'Edit Visual Example' : 'Create New Visual Example' }}</h2>

  <form [formGroup]="exampleForm" (ngSubmit)="save()">
    <div class="form-group">
      <label for="name">Example Name:</label>
      <input id="name" type="text" formControlName="name" placeholder="Enter example name"/>
    </div>

    <div *ngFor="let part of parts; let i = index" class="part-group">
      <h3>Part {{ part.orderIndex }}</h3>
      <div class="form-group">
        <label>Left Image:</label>
        <input type="file" (change)="onLeftFileSelected($event, i)"/>
        <div *ngIf="part.existingLeftImage && !part.leftFile">
          Current left image: <img [src]="part.existingLeftImage.imagePath" alt="Left Image" width="80"/>
        </div>
      </div>
      <div class="form-group">
        <label>Right Image:</label>
        <input type="file" (change)="onRightFileSelected($event, i)"/>
        <div *ngIf="part.existingRightImage && !part.rightFile">
          Current right image: <img [src]="part.existingRightImage.imagePath" alt="Right Image" width="80"/>
        </div>
      </div>
      <button type="button" (click)="removePart(i)" *ngIf="parts.length > 1">Remove Part</button>
    </div>

    <div class="actions">
      <button type="button" (click)="addPart()">Add New Part</button>
      <button type="submit">Save</button>
      <button type="button" (click)="router.navigate(['/admin/topics', topicId, 'examples'])">Cancel</button>
    </div>
  </form>
</div>
