// General Variables
$primary-color: #fbc02d;
$secondary-color: #B6E3FF;
$text-color: #333;
$button-color: #757575;

.back-button-section {
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;

  .back-button {
    text-decoration: none;
    color: $primary-color;
    font-size: 1.2rem;
    padding: 5px 10px;
    border: none;
  }

  .back-button:hover {
    text-decoration: underline;
  }
}

.quiz-container {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  align-items: center;
  justify-content: center;
  width: 100%;

  .question-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin: auto;
    min-height: 400px;
    flex-grow: 1;
    padding-top: 20px;

    .question-text {
      font-size: 2.3rem;
      color: white;
      background-color: $primary-color;
      padding: 50px;
      width: 100vw;
      text-align: center;
    }

    .answer-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 500px;
      margin: auto;

    }

    .option {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      max-width: 800px;
      margin: 10px auto;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      cursor: pointer;
      background-color: white;
      font-size: 1rem;

      &.selected {
        background-color: #ffe0b2;
      }

      input {
        margin-right: 10px;
      }

      label {
        flex: 1;
      }
    }

    .short-answer {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      resize: none;
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  bottom: 50px;

  button {
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }

    &:not(:disabled):hover {
      background-color: darken($primary-color, 10%);
    }
  }

  .next-button {
    margin-left: auto;
  }
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 70vw;

  h2 {
    font-size: 2rem;
    color: $primary-color;
  }

  p {
    font-size: 1.3rem;
    margin: 10px 0;
  }

  .results-summary {
    width: 100%;
    padding: 20px;
  }

  .result-question {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;

    h3 {
      display: flex;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 5px;
      justify-content: flex-start;
    }
  }

  .options-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .option {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    transition: background 0.3s;
  }

  .correct-answer {
    background: #d4edda;
    color: #155724;
    font-weight: bold;
  }

  .incorrect-answer {
    background: #f8d7da;
    color: #721c24;
    font-weight: bold;
  }

  input[type="radio"] {
    margin-right: 10px;
  }

  .feedback {
    margin-top: 5px;
    font-size: 1rem;
  }

  .correct {
    color: green;
    font-weight: bold;
  }

  .incorrect {
    color: red;
    font-weight: bold;
  }

  .result-buttons {
    display: flex;
    gap: 25px;

    button {
      padding: 12px 20px;
      margin-bottom: 80px;
      font-size: 1rem;
      font-weight: bold;
      background-color: $primary-color;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}

