<!DOCTYPE html>
<html lang="en">

<body class="body">
<app-header mode="user"></app-header>

<div class="back-button-section">
  <a class="back-button" routerLink="/topics">&#x3c; Back</a>
</div>

<div class="topic-detail-container" *ngIf="topic">
  <div class="content">
    <h1>{{ topic.topicTitle }}</h1>
    <markdown [data]="topic.topicDescription"></markdown>

    <div class="buttons">
      <!-- If there are visual examples, show a button for each one -->
      <ng-container *ngIf="visualExamples.length > 0; else noExample">
        <button *ngFor="let example of visualExamples"
                class="btn"
                [routerLink]="['/topic', topic.topicId, 'visualExample', example.visualExampleId]">
          {{ example.name }}
        </button>
      </ng-container>
      <ng-template #noExample>
        <p>No visual examples available for this topic.</p>
      </ng-template>

      <button class="btn" [routerLink]="['/topic', topic.topicId, 'quiz']">Quiz</button>
    </div>
  </div>
</div>
<div *ngIf="!topic">
  <p>Loading...</p>
</div>

<app-footer></app-footer>
</body>
</html>
