<div class="back-button-section">
  <a class="back-button" routerLink="/topics">&#x3c; Back</a>
</div>

<div class="topic-detail-container" *ngIf="topic">
  <div class="content">
    <h1>{{ topic.topicTitle }}</h1>
    <markdown [data]="topic.topicDescription"></markdown>

    <div class="buttons">
      <ng-container *ngIf="visualExamples.length > 0; else noExample">
        <button *ngFor="let example of visualExamples"
                class="btn"
                [routerLink]="['/topic', topic.topicId, 'visualExample', example.visualExampleId]">
          {{ example.name }} Example
        </button>
      </ng-container>
      <ng-template #noExample>
        <button class="btn btn--disabled" disabled>
          No Visual Examples Available
        </button>
      </ng-template>

      <ng-container *ngIf="quizzes.length > 0; else noQuiz">
        <button *ngFor="let quiz of quizzes"
                class="btn"
                [routerLink]="['/topic', topic.topicId, 'quiz', quiz.quizId]">
          {{ quiz.title }} Quiz
        </button>
      </ng-container>
      <ng-template #noQuiz>
        <button class="btn btn--disabled" disabled>
          No Quizzes Available
        </button>
      </ng-template>
    </div>
  </div>
</div>
<div *ngIf="!topic" class="loading-container">
  <mat-spinner diameter="50"></mat-spinner>
  <p class="loading-text">Loading content, please wait…</p>
</div>
