// General Variables
$primary-color: #fbc02d;
$secondary-color: #B6E3FF;
$text-color: #333;
$button-color: #757575;

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Toolbar Styles
.custom-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .toolbar-logo {
    height: 60px;
    width: auto;
  }

  .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2rem;
  }

  .nav-links li {
    display: flex;
  }

  .nav-links a {
    text-decoration: none;
    color: $button-color;
    padding: 0.5rem 1rem;
    font-family: 'Righteous', sans-serif;
  }

  .logout-btn {
    border: 1px solid $primary-color;
    color: $primary-color;
    background-color: transparent;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-family: 'Righteous', sans-serif;

    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }

  .iconButton {
    background-color: white;
    color: $primary-color;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border: none;
  }
}

.back-button-section {
 padding: 10px;
  margin-bottom: 10px;
  display: inline-block;

  .back-button {
    text-decoration: none;
    color: $primary-color;
    font-size: 1.2rem;
    padding: 5px 10px;
    border: none;
  }

  .back-button:hover {
    text-decoration: underline;
  }
}


.topic-detail-container {
  flex: 1;
  padding: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    height: auto;
    overflow: hidden;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  h1 {
    font-size: 2.5rem;
    color: $primary-color;
    margin-bottom: 0.5rem;
    font-family: 'Righteous', sans-serif;
  }

  p {
    font-size: 1.2rem;
    color: #333;
    margin-top: 1rem;
    line-height: 1.6;
    text-align: justify;
  }


  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    .btn {
      border: 1px solid $primary-color;
      background: none;
      color: $primary-color;
      padding: 20px;
      border-radius: 5px;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: bold;
      width: 40%;
      text-align: center;


      &:hover {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
}


// Footer Styles
.footer {
  text-align: center;
  padding: 1rem;
  background-color: $secondary-color;
  color: $text-color;
  font-size: 0.9rem;
  margin-top: 2rem;
  bottom: 0;
  width: 100%;
}
