<!DOCTYPE html>
<html lang="en">

<body>
<app-header mode="admin"></app-header>

<h2 *ngIf="isEditMode">Edit Topic</h2>
<h2 *ngIf="!isEditMode">Create New Topic</h2>

<form [formGroup]="topicForm" (ngSubmit)="onSubmit()">
  <label for="title">Title</label>
  <input id="title" formControlName="topicTitle" type="text" />

  <label for="description">Description</label>
  <textarea id="description" formControlName="topicDescription"></textarea>

  <button type="submit">{{ isEditMode ? 'Update' : 'Create' }}</button>
</form>



<footer class="footer">
  © 2024 Copyright OOP Vision. All Rights Reserved
</footer>
</body>
</html>
